/**************************/
/* COLOR SYSTEM */
/**************************/

//* PRIMARY COLOR
$primary-color: #228be6;
$primary-color-tint: #3897e9;
$primary-color-shade: #1f7dcf;

//* GREY COLOR
$grey-color: #495057;
$grey-color-tint: #6d7379;
$grey-color-shade: #3a4046;

//* WHITE COLOR
$light-color:#e9f3fd;

//* BLACK COLOR
$black-color: #000;

//* BACKGROUND THEME
$background-theme: #fff;
